// manifest
@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';


// **
// Elements
// **

body {
	font-size: 62.5%;
	font-family: $fontPrimary;
	font-weight: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav {
	display: flex;
	justify-content: flex-end;
	text-transform: lowercase;
	margin: 20px 0;
}

a {
	text-decoration: none;
}

header {
	width: 80vw;
	height: 75vh;
	background-image: url("../../assets/richard-tilney-bassett-182708_bg.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	@include buttonStyles;
}

main {
	display: flex;
	justify-content: center;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	background-color: black;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
}


// **
// Classes
// **

.wrapper {
	width: 80%;
}

.navItems {
	display: flex;
	font-size: 0.8rem;
	color: $colorSecondary;
	justify-content: flex-end;
}

.navItems div {
	margin: 0 15px;
	letter-spacing: 0.1rem;
	&:last-of-type {
		margin-right: 0;
	}
}

.navItems__item a {
	text-decoration: none;
	padding: 2px 0;
	color: black;
	&:visited {
		color: black;
	}
	&:hover {
		border-bottom: 2px solid $colorPrimary;
	}
	&:focus {
		outline: none;
		border-bottom: 2px solid $colorPrimary;
	}
}

.header__container {
	background-color: white;
	height: 95vh;
	display: flex;
	justify-content: center;
}

.header__image {
	width: 80vw;
	height: 75vh;
	background-image: url("../../assets/richard-tilney-bassett-182708_bg.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(239,209,198, 0.5);
	height: 75vh;
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 1px;
}

.header__text h1 {
	text-align: center;
	font-size: 3.6rem;
	font-weight: 500;
	margin: 0;
}

.lineSegment {
	width: 50px;
	border-bottom: 2px solid black;
	margin: 20px 0;
}

.header__text--subhead {
	font-size: 2.4rem;
	text-align: center;
	text-transform: lowercase;
	margin: 0 0 50px 0;
	letter-spacing: 1px;
}

.header__button {
	color: white;
	background-color: black;
	text-decoration: none;
}

.sectionName {
	font-size: 3.6rem;
	font-weight: 100;
	text-align: center;
	text-transform: lowercase;
	margin: 70px 0;
}

.portfolio {
	margin-top: 130px;
}

.portfolioSection {
	display: flex;
	padding: 70px;
	// background-color: rgba(239,209,198, 0.3);
}

.portfolioSection__description {
	width: 50%;
	// margin: 20px;
	padding: 30px;
	// border: 1px solid $colorPrimary;
}

.portfolioSection__lineSegment {
	width: 50px;
	border-bottom: 2px solid black;
	margin: 20px 0 25px 0;
}

.portfolioSection__imageContainer {
	width: 50%;
}

.portfolioSection.ps__imageLeft {
	background-color: rgba(239,209,198, 0.3);
}

.ps__imageLeft .portfolioSection__imageContainer {
	display: flex;
	padding: 70px;
	margin-right: 50px;
	@include portfolioImage;
}

.ps__imageRight .portfolioSection__imageContainer {
	display: flex;
	padding: 70px;
	margin-left: 30px;
	@include portfolioImage;
}

.askTheTarot__image {
	margin: 40px;
	background-image: url("../../assets/askthetarot_screenshot.jpg");
}

.whereShouldISurf__image {
	margin: 40px;
	background-image: url("../../assets/whereshouldisurf_screenshot.jpg");
}

.whatShouldIBring__image {
	margin: 40px;
	background-image: url("../../assets/whatshouldibring_screenshot.jpg");
}

.anatomy__image {
	margin: 40px;
	background-image: url("../../assets/anatomy_screenshot.jpg"); 
}

.bakery__image {
	margin: 40px;
	background-image: url("../../assets/bakery_screenshot.jpg");
}

.portfolioSection__projectName {
	font-size: 1.8rem;
	margin: 0;
	line-height: 2rem;
}

.portfolioSection__projectName span {
	font-size: 2.4rem;
	line-height: 2.6rem;
	font-weight: 500;
}

.portfolioSection__text {
	margin-bottom: 20px;
	@include bodyCopy;
	span {
		background-color: $colorPrimary;
		padding: 6px;
		margin: 4px;
		line-height: 2rem;
		white-space: nowrap;
	}
}

.portfolioSection__buttons {
	display: flex;
	button {
		margin: 10px 10px 0 0;
		color: black;
		background-color: white;
		&:hover {
			// background-color: $colorPrimary;
			// transition: background-color 0.2s ease;
		}
		&:active {
			color: black;
		}
	}
}

.portfolioSection__buttons a {
	text-decoration: none;
	&:link {
		color: black;
	}
	&:visited {
		color: $colorPrimary;
	}
	&:hover {

	}
}

.aboutMe {
	background-color: $colorPrimary;
	width: 100%;
	display: flex;
	justify-content: center;
}

.aboutMe__wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutMe__content {
	display: flex;
	// flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
}

.aboutMe__image {
	width: 200px;
	height: 200px;
	background-image: url("../../assets/JDGportrait_laughing_square.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: none;
	outline: none;
}

.aboutMe__name {
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 500;
	margin: 0;
}

.aboutMe__title {
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin: 0 0 25px 0;
}

.aboutMe__textContainer {
	width: 65%;
	margin-left: 70px;
	@include bodyCopy;
}

.devicons {
	display: flex;
	flex-direction: column;
	color: black;
	margin: 70px 0;
	flex-wrap: nowrap;
	@include bp(lrg) {
		flex-direction: column;
		// @include bp(med) {
		// 	flex-wrap: wrap;
		// }
	}
}

.devicon__group--six {
	display: flex;
	flex-wrap: nowrap;
	@include bp(med) {
		flex-direction: column;
	}
}

.devicon__group--three {
	display: flex;
	flex-wrap: nowrap;
}

.devicons i {
	padding: 15px;
	width: 20%;
	font-size: 3rem;
	text-align: left;
}

.devicon__single {
	margin: 5px;
}

.devicon__single p {
	font-size: 0.7rem;
	text-align: center;
}

.getInTouch__columns {
	display: flex;
}

.social {
	width: 50%;
}

.social__pairs {
	display: flex;
}

.social__pairs i {
	font-size: 2rem;
	margin: 10px 0;
}

.copyright {
	background-color: white;
	color: black;
	font-weight: 500;
	text-align: center;
	margin: 30px 0;
}

