// mixins to create:
// portfolio images/sections
// buttons
// skills buttons

@mixin buttonStyles {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 1px;
	-webkit-border: none;
	outline: none;
	border-radius: 50px;
	border: 2px solid black;
	height: 30px;
	width: 130px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;
	&:focus {
		outline: none;
	}
	&:hover {
		transform: scale(1.1);
		transition: transform 0.3s ease-in-out;
	}
}

@mixin bodyCopy {
	font-family: $fontPrimary;
	font-size: 0.8rem;
	line-height: 1.2rem;
	letter-spacing: 0.1rem;
}

@mixin portfolioImage {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@mixin bp($size) {
 
	@if $size == 'lrg' {
		@media (max-width: 960px) { 
			@content; 
		}
	}

	@if $size == 'med' {
		@media (max-width: 768px) { 
			@content; 
		}
	}

	@if $size == 'sml' {
		@media (max-width: 615px) { 
			@content; 
		}
	}

}