article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }

nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  text-transform: lowercase;
  margin: 20px 0; }

header {
  width: 80vw;
  height: 75vh;
  background-image: url("../../assets/richard-tilney-bassett-182708_bg.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover; }

button {
  background-color: white;
  font-size: 1.8rem;
  -webkit-border: none;
  outline: none;
  border-radius: none;
  border: 1px solid black; }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  background-color: black;
  color: white; }

form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 50%; }

.wrapper {
  width: 80%; }

.navItems {
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  color: slategray;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.navItems div {
  margin: 0 15px;
  letter-spacing: 0.1rem; }
  .navItems div:last-of-type {
    margin-right: 0; }

.navItems__item a {
  text-decoration: none;
  padding: 2px 0;
  color: black; }
  .navItems__item a:visited {
    color: black; }
  .navItems__item a:hover {
    border-bottom: 2px solid #efd1c6; }
  .navItems__item a:focus {
    outline: none;
    border-bottom: 2px solid #efd1c6; }

.header__container {
  background-color: white;
  height: 95vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.header__image {
  width: 80vw;
  height: 75vh;
  background-image: url("../../assets/richard-tilney-bassett-182708_bg.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(239, 209, 198, 0.5);
  height: 75vh;
  width: 80vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.header__text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.header__text h1 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  margin: 0; }

.lineSegment {
  width: 50px;
  border-bottom: 2px solid black;
  margin: 15px 0; }

.header__text--subhead {
  font-size: 2.4rem;
  text-align: center;
  text-transform: lowercase;
  margin: 0; }

.sectionName {
  font-size: 3.6rem;
  font-weight: 100;
  text-align: center;
  text-transform: lowercase;
  margin: 70px 0; }

.portfolio {
  margin-top: 130px; }

.portfolioSection {
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0; }

.portfolioSection__description {
  width: 50%; }

.portfolioSection__imageContainer {
  width: 50%;
  outline: 1px solid #efd1c6;
  outline-offset: 5px; }

.ps__imageLeft .portfolioSection__imageContainer {
  margin-right: 50px;
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat; }

.ps__imageRight .portfolioSection__imageContainer {
  margin-left: 50px;
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat; }

.askTheTarot__image {
  background-image: url("../../assets/askthetarot_screenshot.jpg"); }

.whereShouldISurf__image {
  background-image: url("../../assets/whereshouldisurf_screenshot.jpg"); }

.whatShouldIBring__image {
  background-image: url("../../assets/whatshouldibring_screenshot.jpg"); }

.anatomy__image {
  background-image: url("../../assets/anatomy_screenshot.jpg"); }

.portfolioSection__projectName {
  font-size: 1.8rem;
  margin: 0;
  line-height: 2rem; }

.portfolioSection__projectName span {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 500; }

.portfolioSection__text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.1rem; }
  .portfolioSection__text span {
    background-color: #efd1c6;
    padding: 2px;
    margin: 2px; }

.aboutMe {
  background-color: #efd1c6;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.aboutMe__wrapper {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.aboutMe__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.aboutMe__image {
  width: 200px;
  height: 200px;
  background-image: url("../../assets/JDGportrait_laughing_square.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: none;
  outline: none; }

.aboutMe__name {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin: 0; }

.aboutMe__title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0 0 25px 0; }

.aboutMe__text {
  width: 65%;
  margin-left: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.1rem; }

.devicons {
  display: -ms-flexbox;
  display: flex;
  color: black;
  margin: 70px 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.devicon__group--six {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 960px) {
    .devicon__group--six {
      -ms-flex-direction: column;
          flex-direction: column; } }
  @media (max-width: 960px) and (max-width: 768px) {
    .devicon__group--six {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.devicon__group--three {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.devicons i {
  padding: 15px;
  width: 20%;
  font-size: 2.2rem; }

.devicon__single {
  margin: 5px; }

.devicon__single p {
  font-size: 0.3rem;
  text-align: center; }

.getInTouch__columns {
  display: -ms-flexbox;
  display: flex; }

.social {
  width: 50%; }

.social__pairs {
  display: -ms-flexbox;
  display: flex; }

.copyright {
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 30px 0; }
